.payment-methods-container {
    background-color: #5a6268;
    padding: 10px 15px !important;
    gap: 10px;
}

.form-label {
    font-weight: 600;
    margin-bottom: 0.4rem;
}

@media (max-width: 576px) {
    .card-header h2 {
        font-size: 1.2rem;
    }
    .payment-methods-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}

.is-invalid {
    border-color: #dc3545 !important;
}